*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sylfaen;
}

button{
    margin-top: 10px;
    margin-left: 20px;
    padding-top:  20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: larger;
    color: black;
    border: 2px solid black;
    background-color: yellow;
    border-radius: 10px;
    cursor: pointer;
}

.show{
    display: none;
}

div{
    background-color: rgb(254, 254, 255);
    border: 2px solid black;
    border-radius:10px ;
    width: fit-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;

}

img{
   width: 100%;
    height: 400px;
    border-radius: 30px;
    padding: 20px;
}

h1{
    margin-top: 30px;
}

p{margin-top: 20px;
font-size: large;
;

}
.price{
    position: relative;
 padding-bottom: 30px;
}